In [1]:
import anndata as ad
import scanpy as sc
import numpy as np
import pandas as pd

In [62]:
refer_adata_atac=sc.read_h5ad('/mnt/nas/user/yixuan/Multiomics-benchmark-main/data/download/simulated_var_cell_effect/0910_grn_1139_simulated_num_cell_10000_num_batch_5_num_gene_5000-noised-effect-80-ATAC.h5ad')
refer_adata_rna=sc.read_h5ad('/mnt/nas/user/yixuan/Multiomics-benchmark-main/data/download/simulated_var_cell_effect/0910_grn_1139_simulated_num_cell_10000_num_batch_5_num_gene_5000-noised-effect-80-RNA.h5ad')

In [65]:
refer_adata_atac.obs[['cell_type','batch']]

           cell_type  batch
cells
cell1              1      1
cell2              1      4
cell3              1      1
cell4              1      2
cell5              1      5
...              ...    ...
cell9996           5      5
cell9997           5      5
cell9998           5      1
cell9999           5      5
cell10000          5      3

[10000 rows x 2 columns]

In [63]:
print(refer_adata_atac)
print(refer_adata_atac.obs.head())
print(refer_adata_atac.var.head())

AnnData object with n_obs × n_vars = 10000 × 14630
    obs: 'cell_type', 'batch', 'domain', 'protocol', 'dataset'
    var: 'n_counts'
       cell_type  batch      domain        protocol  \
cells
cell1          1      1  scATAC-seq  Simulated ATAC
cell2          1      4  scATAC-seq  Simulated ATAC
cell3          1      1  scATAC-seq  Simulated ATAC
cell4          1      2  scATAC-seq  Simulated ATAC
cell5          1      5  scATAC-seq  Simulated ATAC

                                                 dataset
cells
cell1  0910_grn_1139_simulated_num_cell_10000_num_bat...
cell2  0910_grn_1139_simulated_num_cell_10000_num_bat...
cell3  0910_grn_1139_simulated_num_cell_10000_num_bat...
cell4  0910_grn_1139_simulated_num_cell_10000_num_bat...
cell5  0910_grn_1139_simulated_num_cell_10000_num_bat...
           n_counts
peaks
1      1.305486e+27
2      5.811437e+23
3      5.548732e+16
4      1.225705e+25
5      2.018000e+03

In [12]:
print(refer_adata_rna)
print(refer_adata_rna.obs.head())
print(refer_adata_rna.var.head())

AnnData object with n_obs × n_vars = 10000 × 4842
    obs: 'cell_type', 'batch', 'domain', 'protocol', 'dataset'
    var: 'n_counts', 'highly_variable', 'highly_variable_rank', 'means', 'variances', 'variances_norm'
    uns: 'hvg'
       cell_type  batch     domain       protocol  \
cell1          1      1  scRNA-seq  Simulated RNA
cell2          1      4  scRNA-seq  Simulated RNA
cell3          1      1  scRNA-seq  Simulated RNA
cell4          1      2  scRNA-seq  Simulated RNA
cell5          1      5  scRNA-seq  Simulated RNA

                                                 dataset
cell1  0910_grn_1139_simulated_num_cell_10000_num_bat...
cell2  0910_grn_1139_simulated_num_cell_10000_num_bat...
cell3  0910_grn_1139_simulated_num_cell_10000_num_bat...
cell4  0910_grn_1139_simulated_num_cell_10000_num_bat...
cell5  0910_grn_1139_simulated_num_cell_10000_num_bat...
       n_counts  highly_variable  highly_variable_rank         means  \
1  4.418376e+23            False                   NaN  4.418376e+19
2  3.479382e+20            False                   NaN  3.479383e+16
4  1.448126e+24            False                   NaN  1.448126e+20
5  4.145921e+22            False                   NaN  4.145922e+18
6  7.453014e+24            False                   NaN  7.453015e+20

      variances  variances_norm
1           inf             NaN
2  4.794065e+34             NaN
4           inf             NaN
5           inf             NaN
6           inf             NaN

In [44]:
batch_4_atac_activity=pd.read_csv('/mnt/nas/user/yixuan/Multiomics-benchmark-main/data/download/seurat_10x/real_2_batch/activity_small.csv',index_col=0)

FileNotFoundError: [Errno 2] No such file or directory: '/mnt/nas/user/yixuan/Multiomics-benchmark-main/data/download/seurat_10x/real_2_batch/activity_small.csv'

In [ ]:
batch_4_atac_activity.set_index(["cells"], inplace=True)
batch_4_atac_activity.head()

,LOXL3,SDC1,MSANTD3,EPN2,PLSCR1,LRCH3,STK32B,PSMB1,NCBP1,OSTN,...,MN1,RAC2,TRNAU1AP,ZNF521,STAP1,AKR1A1,CAST,INVS,ZNF311,ERGIC3
cells,,,,,,,,,,,,,,,,,,,,,
GGTTGCATCCAGGTCA-4-s2d1,0.485722,0.0,0.000000,0.000000,0.000000,0.000000,0.485722,0.000000,0.485722,0.0,...,0.0,0.485722,0.485722,0.0,0.0,0.000000,0.000000,1.253160,0.0,0.000000
ACACGGACATCGTTCT-12-s4d9,0.000000,0.0,0.000000,0.000000,0.520810,0.520810,0.000000,0.000000,0.520810,0.0,...,0.0,1.115197,0.000000,0.0,0.0,0.000000,0.861530,0.861530,0.0,0.000000
TGTTGCACAATTGACT-2-s1d2,0.000000,0.0,0.000000,0.000000,0.588767,0.588767,1.225331,0.956868,1.225331,0.0,...,0.0,0.588767,0.588767,0.0,0.0,0.000000,1.759682,1.225331,0.0,0.000000
GTTACTCGTTGTTGCT-s2d4,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000
CCGCCAACACCTGGTG-12-s3d7,1.326763,0.0,0.868953,1.639625,0.868953,0.868953,0.868953,0.000000,1.326763,0.0,...,0.0,2.491162,1.639625,0.0,0.0,0.868953,0.000000,1.639625,0.0,0.868953

In [ ]:
# rand_save=pd.read_csv('/mnt/nas/user/yixuan/Multiomics-benchmark-main/data/download/seurat_10x/real_2_batch/L4.csv')
# inter_gene_save=pd.read_csv('/mnt/nas/user/yixuan/Multiomics-benchmark-main/data/download/seurat_10x/real_2_batch/inter_gene.csv')
# batch_4_atac=batch_4_atac_activity[inter_gene_save['0'].values.tolist()]
# batch_4_atac.iloc(rand_save['0'].values.tolist())
# batch_4_atac=batch_4_atac_activity[rand_save['0'].values.tolist()]
# batch_4_atac=batch_4_atac_activity[rand_save['0'],:]
# batch_4_atac_activity.reset_index(inplace=True)

In [ ]:
batch_1_atac=sc.read_h5ad('/mnt/nas/user/yixuan/Multiomics-benchmark-main/data/download/seurat_10x/10x-Multiome-Pbmc10k-ATAC.h5ad')
batch_4_atac_origin=sc.read_h5ad('/mnt/nas/user/yixuan/Multiomics-benchmark-main/data/download/nips_challenge_multiome_paired/multiome-ATAC.h5ad')
batch_1_atac_origin=sc.read_h5ad('/mnt/nas/user/yixuan/Multiomics-benchmark-main/data/download/10x-Multiome-Pbmc10k/10x-Multiome-Pbmc10k-ATAC.h5ad')

In [45]:
genes_1=list(batch_1_atac.var.index)
# genes_2=list(batch_2_rna.var.index)
# genes_3=list(batch_3_rna.var.index)
genes_4=list(batch_4_atac_origin.uns['ATAC_gene_activity_var_names'])
print(len(genes_1),len(genes_4))
# genes=list(set(genes_1).intersection(genes_2,genes_3))
# print(len(genes))
inter_gene=list(set(genes_1).intersection(genes_4))
print(len(inter_gene))

20162 19039
12900

In [47]:
rand_save_L1=pd.read_csv('/mnt/nas/user/yixuan/Multiomics-benchmark-main/data/download/seurat_10x/nips_10x/L1.csv',index_col=0)
rand_save_L4=pd.read_csv('/mnt/nas/user/yixuan/Multiomics-benchmark-main/data/download/seurat_10x/nips_10x/L4.csv',index_col=0)

In [48]:
batch_1_atac.var.index.isin(inter_gene)

array([False, False, False, ...,  True,  True,  True])

In [53]:
L1=rand_save_L1['0'].values.tolist()
rna_1=batch_1_atac[L1][:,batch_1_atac[L1].var.index.isin(inter_gene)]

In [54]:
L4=rand_save_L4['0'].values.tolist()
rna_4=batch_4_atac_origin[L4][:,batch_4_atac_origin[L4].var.index.isin(inter_gene)]

In [55]:
rna_1.X

<2000x12900 sparse matrix of type '<class 'numpy.float32'>'
	with 8038413 stored elements in Compressed Sparse Column format>

In [56]:
from scipy.sparse import csc_matrix
rna_4_X=csc_matrix(batch_4_atac_activity.values).astype(np.float32)

In [57]:
rna_4_X

<2000x12900 sparse matrix of type '<class 'numpy.float32'>'
	with 8899494 stored elements in Compressed Sparse Column format>

In [58]:
from scipy.sparse import hstack,vstack

combined_X=vstack((rna_1.X,rna_4_X))

In [66]:
rna_1_obs=rna_1.obs[['domain','protocol','dataset','cell_type']]
rna_1_obs['batch']=1

rna_4_obs=rna_4.obs[['domain','protocol','cell_type']]
rna_4_obs['batch']=1
rna_4_obs['dataset']='nips_paired'
combined_var=pd.DataFrame(rna_1.var.index,index=list(rna_1.var.index))
combined_obs=pd.concat([rna_1_obs,rna_4_obs])

/tmp/ipykernel_31875/399615577.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rna_1_obs['batch']=1
/tmp/ipykernel_31875/399615577.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rna_4_obs['batch']=1
/tmp/ipykernel_31875/399615577.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rna_4_obs['dataset']='nips_paired'

In [67]:
combined_var.rename(columns={0:'genes'},inplace=True)
combined_var

           genes
SAMD11    SAMD11
NOC2L      NOC2L
KLHL17    KLHL17
PLEKHN1  PLEKHN1
PERM1      PERM1
...          ...
RAB39B    RAB39B
CLIC2      CLIC2
TMLHE      TMLHE
SPRY3      SPRY3
VAMP7      VAMP7

[12900 rows x 1 columns]

In [68]:
adata_atac = ad.AnnData(X=combined_X,obs=combined_obs,var=combined_var)
adata_atac
adata_atac.write_h5ad('/mnt/nas/user/yixuan/Multiomics-benchmark-main/data/download/seurat_10x/nips_10x/nips_10x_ATAC.h5ad')

In [3]:
temp=ad.read_h5ad('/mnt/nas/user/yixuan/Multiomics-benchmark-main/data/download/seurat_10x/nips_10x/nips_10x-ATAC.h5ad')

In [4]:
temp.X.todense()

<4000x12900 sparse matrix of type '<class 'numpy.float32'>'
	with 16937907 stored elements in Compressed Sparse Column format>

In [5]:
adata_atac = ad.AnnData(X=temp.X.todense(),obs=temp.obs,var=temp.var)
adata_atac
adata_atac.write_h5ad('/mnt/nas/user/yixuan/Multiomics-benchmark-main/data/download/seurat_10x/nips_10x/nips_10x-ATAC_dense.h5ad')

In [6]:
temp=ad.read_h5ad('/mnt/nas/user/yixuan/Multiomics-benchmark-main/data/download/seurat_10x/nips_10x/nips_10x-RNA.h5ad')
adata_rna = ad.AnnData(X=temp.X.todense(),obs=temp.obs,var=temp.var)
adata_rna
adata_rna.write_h5ad('/mnt/nas/user/yixuan/Multiomics-benchmark-main/data/download/seurat_10x/nips_10x/nips_10x-RNA_dense.h5ad')